<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ucr.ecci.diccionariocosasmalecu">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Diccionario de las cosas Malecu"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".jerro"></activity>
        <activity android:name=".mapuca10" />
        <activity android:name=".mapuca9" />
        <activity android:name=".mapuca8" />
        <activity android:name=".mapuca7" />
        <activity android:name=".mapuca6" />
        <activity android:name=".mapuca5" />
        <activity android:name=".mapuca4" />
        <activity android:name=".mapuca3" />
        <activity android:name=".caru2" />
        <activity android:name=".caru1" />
        <activity android:name=".jerro4" />
        <activity android:name=".jerro3" />
        <activity android:name=".jerro2" />
        <activity android:name=".jerro1" />
        <activity android:name=".mapuca2" />
        <activity android:name=".mapuca1" />
        <activity
            android:name=".paginaPrincipal"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Splash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>