<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ucr.ecci.diccionariocosasmalecu">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Diccionario de las cosas Malecu"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".checacheca"></activity>
        <activity android:name=".acerca" />
        <activity android:name=".mapuca1" />
        <activity android:name=".quijilha" />
        <activity android:name=".majoca" />
        <activity android:name=".curu" />
        <activity android:name=".tufictufinh" />
        <activity android:name=".arafufu_mausunca" />
        <activity android:name=".tali" />
        <activity android:name=".quirri" />
        <activity android:name=".pupa" />
        <activity android:name=".chiqui2" />
        <activity android:name=".chiqui1" />
        <activity android:name=".chiqui" />
        <activity android:name=".mapuru" />
        <activity android:name=".cuji" />
        <activity android:name=".jerro" />
        <activity android:name=".caru" />
        <activity android:name=".mapuca2" />
        <activity
            android:name=".paginaPrincipal"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Splash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>