<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ucr.ecci.diccionariocosasmalecu">

    <application
        android:allowBackup="true"
        android:label="Orróqui Maráma"
        android:largeHeap="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".jafara"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".quirrilenh"
            android:screenOrientation="portrait"/>
        <activity android:name=".arafufu"
            android:screenOrientation="portrait"/>
        <activity android:name=".chiu2"
            android:screenOrientation="portrait"/>
        <activity android:name=".chiu"
            android:screenOrientation="portrait"/>
        <activity android:name=".ojonh"
            android:screenOrientation="portrait"/>
        <activity android:name=".checacheca"
            android:screenOrientation="portrait"/>
        <activity android:name=".acerca"
            android:screenOrientation="portrait"/>
        <activity android:name=".mapuca1"
            android:screenOrientation="portrait"/>
        <activity android:name=".quijilha"
            android:screenOrientation="portrait"/>
        <activity android:name=".majoca"
            android:screenOrientation="portrait"/>
        <activity android:name=".curu"
            android:screenOrientation="portrait"/>
        <activity android:name=".tufictufinh"
            android:screenOrientation="portrait"/>
        <activity android:name=".arafufu_mausunca"
            android:screenOrientation="portrait"/>
        <activity android:name=".tali"
            android:screenOrientation="portrait"/>
        <activity android:name=".quirri"
            android:screenOrientation="portrait"/>
        <activity android:name=".pupa"
            android:screenOrientation="portrait"/>
        <activity android:name=".chiqui2"
            android:screenOrientation="portrait"/>
        <activity android:name=".chiqui1"
            android:screenOrientation="portrait"/>
        <activity android:name=".chiqui"
            android:screenOrientation="portrait"/>
        <activity android:name=".mapuru"
            android:screenOrientation="portrait"/>
        <activity android:name=".cuji"
            android:screenOrientation="portrait"/>
        <activity android:name=".jerro"
            android:screenOrientation="portrait"/>
        <activity android:name=".caru"
            android:screenOrientation="portrait"/>
        <activity android:name=".mapuca2"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".paginaPrincipal"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Splash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>